version: '3.8'
services:
  mc:
    build: .
    environment:
      EULA: true
      TYPE: PAPER
      INIT_MEMORY: 2G
      MAX_MEMORY: 8G
      # Load server icon and plugin list from container config
      ICON: /container/logo.png
      MODS_FILE: /container/plugins.txt
      REMOVE_OLD_MODS: true
      COPY_CONFIG_DEST: /data
      ENV_VARIABLE_PREFIX: CFG_
      SYNC_SKIP_NEWER_IN_DESTINATION: false
      REPLACE_ENV_VARIABLES: true
      REPLACE_ENV_DURING_SYNC: true
      # The image will run a script to replace instances of these variables with the secret values Docker loaded
      CFG_PLAYIT_AGENT_SECRET_FILE: /run/secrets/playit_agent_secret
      CFG_BSTATS_SERVER_UUID_FILE: /run/secrets/bstats_server_uuid
      # This will let Docker set `RCON_PASSWORD` to the value loaded from the secrets file
      RCON_PASSWORD_FILE: /run/secrets/rcon_password
    ports:
      # The proxy expects us to be running on port 22608 so we have to expose it
      - 25565:22608
    volumes:
      # Config files in `minecraft` will be copied to the container's `/data` directory
      - ./config/minecraft:/config:ro
      # Files in `container` will be mounted so that the image can read them
      - ./config/container:/container:ro
    restart: unless-stopped
    secrets:
      - rcon_password
    stdin_open: true
    tty: true
secrets:
  bstats_server_uuid:
    file: ./config/secrets/bstats_server_uuid.txt
  playit_agent_secret:
    file: ./config/secrets/playit_agent_secret.txt
  rcon_password:
    file: ./config/secrets/rcon_password.txt
